<%= simple_form_for(@site_package_flow) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content, input_html: {rows: 22} %>
    <%= f.input :status, collection:  ApplicationHelper::FLOW_STATUS %>
  </div>

  <br/>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
