<div class="panel panel-default">
  <div class="panel-heading">
    <%= @site_package_flow.site_package.package.title %>
    <small><%= link_to '修改', edit_site_package_flow_path(@site_package_flow), class: 'btn btn-sm' %></small>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <%= simple_format @site_package_flow.content %>
      </div>
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item">
            <%= render partial: 'site_package_flow_comments/list', locals: {site_package_flow_comments: @site_package_flow.site_package_flow_comments} %>
          </li>
          <li class="list-group-item">
            <%= render 'site_package_flow_comments/form' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
