<%= simple_form_for(@site_package_flow_comment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :site_package_flow_id, as: :hidden%>
    <%= f.input :content %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
