<div class="nav-col">
 
 <!-- ____________ User Wrapper for login and sign up links _______________  -->
 
 <nav id="nav" class="clearfix" role="navigation">
 
  <div class="user-wrapper">
   <p><%= render 'layouts/navigation_links' %></p>
  </div>
  
 <!-- ____________ Primary Menu _______________  -->
    <!-- TO KEEP OPEN WHEN ON THAT SECTION add class "active" to the a tag of the parent li 
    (the one with the .has-children class on it) <li class="has-children"><a href="#" class="active" ... -->

<ul class="primary-nav">
  <% if current_site %>
    <li class="active">
      <%= link_to site_path(current_site) do %>
        <%= current_site.title %> <i class="fa fa-send"></i>
      <% end %>
    </li>
  <% end %>

  <% if current_site %>
    <% if current_site.site_packages.any? %>
      <% current_site.site_packages.each do |site_package| %>
       
        <% if site_package.site_package_flows.any? %>
          <li class="has-children dcjq-parent-li"><a class="dcjq-parent" href="#"><%= site_package.package.title %></a> <!-- add class .has-children on li item if the li has babies -->
          <ul>
          <% site_package.site_package_flows.each do |site_package_flow| %>
            <li><%= link_to site_package_flow.flow.title, edit_site_package_flow_path(site_package_flow) %></li>
          <% end %>
          </ul>
          </li>
        <% else %>
          <li><%= link_to site_package.package.title, '#' %></li>
        <% end %>
      <% end %>
    <% else %>
      <li>
        <%= link_to packages_path do %>
          安装业务包 <i class="fa fa-plus"></i>
        <% end %>
      </li>
    <% end %>
  <% end %>
 
</ul>
 </nav>
</div>